.text-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.posicao {
    top: 60%;
}

.div-novidades {
    width: 50%;
}

@media(max-width: 767px) {
    .posicao {
        top: 60%;
    }
}